:root {
    --background: #FEFEFE;
    --white-gray: #F4F4F4;
    --second-color: #EAEAEA;
    --temp-color: #D9D9D9;
    --light-color: #F3F3F3;
    --text-color: #000000;
    --text-second: #5E5E5E;
    --gray-accent: #929292;
    --accent: #FFA600;
    --black: #02040F;
    --black15: rgba(2, 4, 15, 0.15);
    --white-text: #FEFEFE;
    --radius: 10px;
    --big-radius: 20px;
    --padding: 60px;
    --header-height: 78px;
    --cat-height: 59px;
}

body {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 20px;
}

.page-content {
    padding: 0 var(--padding);
    padding-bottom: 30px;
    padding-top: calc(var(--header-height) + var(--cat-height)) ;
}

.text-price {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
}

.text-desc {
    font-weight: 600;
    font-style: italic;
    font-size: 0.7em;
    line-height: 120%;
    letter-spacing: 0%;
}

.text-h1 {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 120%;
    letter-spacing: 0%;
}

.text-n14 {
    font-size: 0.7em;
    line-height: 120%;
    letter-spacing: 0%;
}