:root {
    --background: #FFFFFF;
    --second-color: #EAEAEA;
    --temp-color: #D9D9D9;
    --light-color: #F3F3F3;
    --text-color: #000000;
    --text-second: #5E5E5E;
    --gray-accent: #929292;
    --accent: #FFA600;
    --black: #02040F;
    --white-text: #FEFEFE;
    --radius: 10px;
    --big-radius: 20px;
    --padding: 60px;
    --header-height: 78px;
    --cat-height: 59px;
}

body {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 20px;
}

.App {
    padding: 0 var(--padding);
    padding-bottom: 30px;
}

.page-content {
    padding-top: calc(var(--header-height) + var(--cat-height)) ;
}