.header-categories {
    position: fixed;
    left: 0;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    top: var(--header-height);
}

.header-categories_item {
    font-weight: 600;
    font-size: 0.8em;
    line-height: 120%;
    letter-spacing: 0%;
}
