.page-content__no-pad {
    padding: 0 var(--padding);
    padding-top: calc(var(--header-height) + var(--cat-height) + 8px) ;
    padding-bottom: 0;
}

.profile-page {
    display: grid;
    grid-template-columns: 1fr calc(75% - 6px);
    gap: 24px;
}

.profile-content {
    flex: 1;
}

.profile-nav {
    background-color: var(--white-gray);
    border-radius: var(--big-radius);
    height: fit-content;
}

.profile-nav_header {
    display: flex;
    align-items: center;
    padding: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--temp-color);
}

.profile-nav_avatar {
    width: 50px;
    height: 50px;
    background-color: var(--temp-color);
    border-radius: 50%;
}

.profile-nav_name {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 120%;
    letter-spacing: 0%;
    margin-left: 12px;
}

.profile-nav_notify {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile-nav_list {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.profile-nav_item {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 12px;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 150%;
    letter-spacing: -1.1%;
    color: var(--black60);

    svg path {
        fill: var(--black60);
    }
}

.profile-item {
    border-radius: var(--big-radius);
    background-color: var(--white-gray);
    height: fit-content;
}

.profile-item_header {
    padding: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--temp-color);
    font-size: 0.7em;
    line-height: 120%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-item_body {
    padding: 24px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.profile-item_info {
    font-weight: 700;
    font-size: 0.9em;
    line-height: 120%;
    letter-spacing: 0%;
}

.profile-item_link {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 0.7em;
    line-height: 120%;
    letter-spacing: 0%;
}

.modal-container.profile_notify-modal {
    width: 30%;
    //padding-right: 0;
}

.notify-modal_exit {
}

.notify-modal_list {
    margin-top: 24px;
}

.notify-modal_list-item {
    border-top: 1px solid var(--black15);
    padding: 12px 0;
    display: grid;
    grid-template-areas: 
        'img text'
        'img date'
    ;
    row-gap: 12px;
    column-gap: 16px;
}

.notify-item_img {
    width: 45px;
    height: 45px;
    background-color: var(--temp-color);
    border-radius: var(--radius);
    grid-area: img;
}

.notify-item_text {
    grid-area: text;
}

.notify-item_text__accent {
    color: var(--accent);
    font-weight: 600;
}

.notify-item_date {
    grid-area: date;
    color: var(--black60);
}