.profile-page {
    display: flex;
    gap: 24px;
}

.profile-content {
    width: 100%;
}

.profile-nav {
    min-width: calc(25% - 18px);
    background-color: var(--white-gray);
    border-radius: var(--big-radius);
    height: fit-content;
}

.profile-nav_header {
    display: flex;
    align-items: center;
    padding: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--temp-color);
}

.profile-nav_avatar {
    width: 50px;
    height: 50px;
    background-color: var(--temp-color);
    border-radius: 50%;
}

.profile-nav_name {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 120%;
    letter-spacing: 0%;
    margin-left: 12px;
}

.profile-nav_notify {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile-nav_list {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.profile-nav_item {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 12px;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 150%;
    letter-spacing: -1.1%;
    color: var(--black60);

    svg path {
        fill: var(--black60);
    }
}

.profile-item {
    border-radius: var(--big-radius);
    background-color: var(--white-gray);
    height: fit-content;
}

.profile-item_header {
    padding: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--temp-color);
    font-size: 0.7em;
    line-height: 120%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-item_body {
    padding: 24px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.profile-item_info {
    font-weight: 700;
    font-size: 0.9em;
    line-height: 120%;
    letter-spacing: 0%;
}

.profile-item_link {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 0.7em;
    line-height: 120%;
    letter-spacing: 0%;
}