// .dropdown-subcategory {
//     position: relative;
//     z-index: 100;
// }

.dropdown-title {
    display: grid;
    grid-template-columns: 1fr 9px;
    align-items: center;
    gap: 5.5px;
}

.dropdown-title_text {
    white-space: nowrap;
}

.dropdown-list {
    border: 1px solid var(--black15);
    border-radius: var(--radius);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    z-index: 50;
    background-color: var(--background);
    //width: 100%;
}