.seller-goods_table {    
    grid-template-columns: 7% 13% 1fr 12% 12% 8% 13.5% 13% 68px;
}

.seller-goods_actions {
    display: flex;
    gap: 4px;

    svg {
        width: 16px;
        height: 16px;
    }
}