.header_search {
    flex: 5.22;
    background-color: var(--background);
    border: 1px solid var(--black60);
    border-radius: var(--radius);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.search_input {
    width: 100%;
    height: 100%;
}

.search_btn {
    display: flex;
    align-items: center;
}