.basket-card {
    background-color: var(--white-gray);
    border-radius: var(--big-radius);
    display: flex;
    gap: 24px;
    height: 172px;
}

.basket-card_img {
    height: 100%;
    min-width: 176px;
    background-color: var(--temp-color);
    border-radius: var(--big-radius);
}

.basket-card_info {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.basket-card_actions {
    margin-top: auto;
    height: 24px;
    display: flex;
    gap: 12px;
}

.basket-card_set {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    padding-left: 16px;
    align-items: flex-end;
    margin-left: auto;
}

.basket-card_delivery {
    white-space: nowrap;
}

.basket-card_count {
    display: flex;
    align-items: center;
    gap: 12px;
}

.basket-card_checkbox-container {
    position: absolute;
    background-color: var(--white-gray);
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--big-radius) 0 var(--big-radius) 0;
    border-left: 1px solid var(--black15);
    border-top: 1px solid var(--black15);
}

.basket-card_checkbox {
    width: 20px;
    height: 20px;
}