.seller-order_main {
    margin-top: 19px;
    background-color: var(--background);
    border-radius: var(--big-radius);
    padding: 24px 32px;
}

.seller-order_title {
    color: var(--black60);
    border-bottom: 1px solid var(--black15);
    padding-bottom: 8px;
    cursor: default;
}

.seller-order_info-id {
    margin: 24px 0;
}

.seller-order_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.seller-order_item {
    display: flex;
    gap: 12px;
    align-items: center;
}

.seller-order_label {
    color: var(--black60);
}

.seller-order_value__accent {
    color: var(--accent);
}

.seller-order_buyer-title {
    margin-top: 24px;
}

.seller-order_buyer-list {
    margin-top: 16px;
}

.seller-order_items {
    margin-top: 16px;
    background-color: var(--background);
    border-radius: var(--big-radius);
    padding: 24px 32px;
}

.seller-order_table {    
    width: 100%;
    margin-top: 16px;
    border: 1px solid var(--black15);
    border-radius: var(--big-radius);
    display: grid;
    grid-template-columns: 17% 18.6% 1fr 15.3% 15% 13.5%;
}

.seller-order_table-imgs {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}

.seller-order_table-img {
    background-color: var(--temp-color);
    height: 25px;
    min-width: 25px;
    border-radius: 5px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.seller-order_btn {
    margin-top: 24px;
    padding: 0 27.5px;
}