.catalog-modal {
    background-color: var(--background);
    position: fixed;
    top: var(--header-height);
    bottom: 0;
    right: 60px;
    left: 60px;
    z-index: 100;
    display: grid;
    grid-template-columns: calc(25% - 18px) 1fr;
    gap: 24px;
}

.catalog-cat_list {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding: 16px 0 24px 0;
    background-color: var(--white-gray);
    margin-bottom: 14px;
    border-radius: var(--big-radius);
}

.catalog-cat_item {
    flex: 1;
    padding: 0 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.catalog-cat_name {
    z-index: 1;
}

.catalog-cat_item__active {
    position: relative;

    .catalog-cat_name {
        color: var(--background);
    }
}

.catalog-cat_item__active::before {
    content: '';
    background-color: var(--accent);
    border-radius: var(--big-radius);
    box-shadow: 2px 2px 10px 0px var(--accent40);
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 0;
    right: 0;
    z-index: 0;
}

.catalog-cat_item__active .catalog-cat_img {
    filter: brightness(0) saturate(100%) invert(100%);
}

.catalog-subcat_panel-container {
    overflow-y: scroll;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.catalog-subcat_panel-container::-webkit-scrollbar {
    display: none;
}

.catalog-subcat_panel {
    column-count: 3;
    column-gap: 24px;
    width: 100%;
    height:fit-content;
    padding-bottom: 24px;
}

.catalog-subcat_block {
    break-inside: avoid;
    background-color: var(--white-gray);
    border-radius: var(--radius);
    margin-bottom: 16px;
    padding: 24px;
}

.catalog-subcat_title {
    margin-bottom: 12px;
}

.catalog-subcat_list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 12px;
}