.admin-cat {
    background-color: var(--background);
    border-radius: var(--big-radius);
    padding: 24px 32px;
}

.seller-orders_title {
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;

    svg {
        height: 24px;
        width: 24px;
    }
}



.seller-orders_create-btn {
    position: absolute;
    right: 0;
    top: -8px;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 16px;
    border: 1px solid var(--black15);
    border-radius: 15px;

    svg {
        height: 13.5px;
        width: 13.5px;
    }
}

.seller-orders_search {
    width: 412px;
    height: 44px;
    margin-top: 32px;
    display: flex;
    gap: 16px;
    cursor: pointer;

    path {
        fill: var(--black40)
    }
}

.admin-table {
    width: 100%;
    margin-top: 16px;
    border: 1px solid var(--black15);
    border-radius: var(--big-radius);
    display: grid;
}

.admin-cat_table {
    grid-template-columns: 5% 16% 1fr 1fr 1fr;
}

.seller-orders_table-row {
    display: contents;
    
    .seller-orders_table-cell {
        padding: 14px 16px;
        padding-right: 20px;
        border-right: 1px solid var(--black15);
        border-top: 1px solid var(--black15);
    }
    
    .seller-orders_table-cell:last-child {
        border-right: none;
    }
}

.seller-orders_table-head {
    .seller-orders_table-cell {
        background-color: var(--s-background);
        border: none;
    }

    .seller-orders_table-cell:first-child {
        border-radius: var(--big-radius) 0 0 0;
    }

    .seller-orders_table-cell:last-child {
        border-radius: 0 var(--big-radius) 0 0;
    }
}

.admin-cat_subwrapper.seller-orders_table-cell {
    display: flex;
    flex-direction: column;
    padding: 0;

    .admin-cat_cell {
        padding: 14px 16px;
    }
}

.admin-cat_subrow {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;

    .admin-cat_cell {
        border-right: 1px solid var(--black15);
        border-top: 1px solid var(--black15);
    }
}

.admin-cat_subrow:first-child {
    .admin-cat_cell {
        border-top: none;
    }
}

.admin-cat_subsub-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px 12px;
}

.admin-cat_cell.admin-cat_subsub-wrapper {
    border-right: none;
}

.admin-cat_subsub {
    border-top: 1px solid var(--black05);
}

.admin-cat_btn {
    background-color: var(--black60);
    min-width: 20px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.admin-cat_name {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    justify-content: space-between;
    width: 100%;
}

/* modal */

.admin-cat_modal {
    width: 48%;
}

.admin-cat_modal-subtitle {
    margin-top: 24px;
}

.admin-cat_modal-header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 24px;
    margin-bottom: 24px;
    gap: 12px;
}

.admin-cat_modal-close {
    margin-left: auto;
}

.admin-cat_modal-btn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 16px;
    border: 1px solid var(--black15);
    border-radius: 15px;
    width: 250px;

    svg {
        height: 13.5px;
        width: 13.5px;
    }
}

.admin-cat_modal-btn__mt {
    margin-top: 8px;
}

.admin-cat_modal-input-row {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px;
    margin-top: 8px;
}

.admin-cat_modal-input {
    width: 100%;
    background-color: var(--white-gray);
    border-radius: var(--radius);
    padding: 0 24px;
}

.admin-cat_subcategory-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}

.admin-cat_subcategory-item {
    display: grid;
    gap: 16px;
    width: 100%;
    grid-template-columns: 1fr auto auto;
    align-items: center;
}

.admin-cat_subcategory-main {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-gray);
    padding: 0 24px;
    height: 50px;
    align-items: center;
    border-radius: var(--radius);
}

.admin-cat_save-btn {
    width: 109px;
}

.admin-subcat_modal-btn {
    width: 109px;
}