.seller-reviews_table {
    grid-template-columns: 12% 16% 13.5% 9% 1fr 13% 12.5%;
}

.seller-reviews_add {
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
}

.seller-reviews_edit {
    color: var(--black60);
    border-bottom: 1px solid var(--black60);
}

.seller-review_modal {
    width: 33%;
    position: relative;
}

.seller-review_modal-btns {
    position: absolute;
    top: 24px;
    right: 16px;
    display: flex;
    gap: 12px;
}

.seller-review_modal-form {
    display: flex;
    flex-direction: column;
}

.seller-review_modal-label {
    margin-top: 24px;
}

.seller-review_modal-input {
    margin-top: 8px;
    background-color: var(--white-gray);
    height: 180px;
    border-radius: var(--radius);
    padding: 11px 24px;
}

.seller_comment-reply-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 2.4em;
    line-height: 1.2em;
}