.order-card {
    background-color: var(--second-color);
    border-radius: var(--big-radius);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 24px;
    position: relative;
}

.order-card_img {
    background-color: var(--temp-color);
    min-width: 200px;
    border-radius: var(--big-radius);
}

.order_good-card_info {
    padding: 24px;
    position: relative;
    width: 100%;
}

.order-card_id {
    font-weight: 500;
    font-size: 0.7em;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 16px;
}

.order-card_info-item {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    margin-top: 6px;
}

.order-card_info-item__label {
    font-size: 0.7em;
    line-height: 120%;
    letter-spacing: 0%;
    opacity: 0.6;
}

.order-card_info-item__value {
    font-size: 0.8em;
    line-height: 120%;
    letter-spacing: 0%;
}

.order-card_status {
    font-size: 0.7em;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: lowercase;
    position: absolute;
    right: 0;
    top: 24px;
    padding: 4px 8px;
    background-color: var(--background);
    border-radius: var(--radius);
}

.order-card_action {
    margin-top: 24px;
    background-color: var(--background);
    border-radius: var(--radius);
    padding: 7px 12px;
    font-size: 0.7em;
    line-height: 120%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.order-card_rate-arrow {
    position: absolute;
    top: 17px;
    right: 16px;
    opacity: 0.6;
}